.collapse{
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    p{
        color: #FFF;
        font-weight: bolder;
        margin-left: 20px;
    }
    .chevron-rotate{
        transform: rotate(180deg);
        margin-right: 20px;
        cursor: pointer;
    }
    .chevron{
        margin-right: 20px; 
        cursor: pointer;
    }
}
.show{
    display: block;
    .collapse-description{
        background: #F7F7F7;
        padding: 30px 20px;
        border-radius: 10px;
        p{
            color: #FF6060;
        }
    }
}

.hidden{
    display: none;
}


@media screen and (max-width: 370px) {
    .collapse{
        p{
            font-size: 0.87rem;
        }
    }
    
}



