
.flex-title-profil{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button{
        padding: 5px 40px;
        border-radius: 10px;
        border: none;
        margin: 0 10px 20px 0;
        background: #FF6060;
        font-weight: 500;
        color: #FFF;
    }
    .flex-profil{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .flex-profil_withoutstars{
            display: flex;
            p{
                text-align: right;
                width: 50%;
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
        .all-stars{
            display: flex;
            justify-content: space-between;
            margin-top: 18px;
            width: 150px;
        }
    }
}

.collapse-flex{
    margin-bottom: 25px;
    .collapse-flex-column{
        display: flex;
        justify-content: space-between;
        .margin-collapse-fiche{
            width: 45%;
            .margin-collapse {
                margin-bottom: 20px; 
                .white-paragraph{
                    color: #FFF;
                }
            }
        }
    }
}

@media screen and (max-width: 710px){
        .collapse-flex{
            .collapse-flex-column{
               flex-wrap: wrap;
                .margin-collapse-fiche{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .flex-title-profil{
        flex-direction: column;
        .flex-profil{
            flex-direction: row-reverse;
            width: 100vw;
            margin-bottom: 16px;
            .all-stars{
               max-width: 100px;
               
            .star{
                    width: 13px;
                    height: 13px;
            }
        }
    }
    }
}


