
.flex-title-profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        padding: 5px 40px;
        border-radius: 10px;
        border: none;
        margin: 0 10px 20px 0;
        background: #FF6060;
        font-weight: 500;
        color: #FFF;
    }
    .flex-profil{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .flex-profil_withoutstars{
            display: flex;
            p{
                text-align: right;
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
        .all-stars{
            max-width: 185px;
            min-width: 66px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 27px;
        }
    }
}

.collapse-flex{
    margin-bottom: 25px;
    width: 100%;
    .collapse-flex-column{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .margin-collapse-fiche{
            max-width: 582px;
            width: 100%;
            .margin-collapse {
                margin-bottom: 20px; 
                .white-paragraph{
                    color: #FFF;
                }
            }
        }
    }
}

@media screen and (max-width: 710px){
    .margin-collapse-fiche{
        max-width: 100%;
    }
}

@media screen and (max-width:320px) {
    .flex-title-profil{
        flex-direction: column;
        .flex-profil{
            flex-direction: row-reverse;
            width: 100vw;
            margin-bottom: 16px;
            .all-stars{
                max-width: 100px;
            .star{
                    width: 13px;
                    height: 13px;
            }
        }
    }
    }

    .collapse-flex{
    flex-direction: column;
    .collapse-flex-column{
        flex-direction: column;
        .margin-collapse-fiche{
            width: 100%;
        }
    }
    }
}


