header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    img{
        width: 210px;
    }

    .navigation {
        a{
            color: #FF6060;
            text-decoration: none;
            font-size:1.5rem;
        }
        a:hover{
            text-decoration:underline;
        }
    }
    .navigation :last-child{
        margin-left: 50px;
    }
    
}


@media screen and (max-width: 530px){
    header{
       img{
        width: 120px;
       } 
       .navigation{
        a{
            font-size: 1rem;
        }
    }
        .navigation :last-child{
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 320px){
    header{
        .navigation{
            a{
                font-size: 0.75rem;
                text-transform : uppercase;
            }
        }
    }
}



