html{
    margin: 40px 100px 0 100px;
    body {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        h1{
            color: #FF6060;
            margin: 30px 0 0;
        }
        .main-contain{
            p{
                color: #FF6060;
            }
        }
        
        a{
            font-size: 1.5rem;
        }
        figcaption{
            font-size: 1.12rem;
        }
        ul li{
            list-style-type: none;
            color: #FF6060;
        }
    }
}

@media screen and (max-width: 320px){
html{
    margin: 20px;
    width: 100vw;
        h1{
            font-size:1.12rem;
        }
    }
}
@media screen and (max-width: 710px){
    html{
        margin:20px;
        h1{
            font-size: 1.25rem;
        }
    }   
}