.figure-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 25px;
    figure{
        position: relative;
        margin: 30px;
        width: 340px;
        height: 340px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        figcaption{
            color: #fff;
            position: absolute; 
            bottom: 20px;
            left: 20px;
        }
    }
}
@media screen and (max-width: 320px){
    .figure-grid{
        background-color: #fff;
        figure{
            margin: 10px 0;
        }
    }
}