.margin-collapse {
    margin-bottom: 20px;
    
}

.margin-collapse-fiche{
    width: 582px;
}

.collapse{
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    p{
        color: #FFF;
        font-weight: bolder;
        margin-left: 20px;
    }
    .chevron-rotate{
        transform: rotate(180deg);
        margin-right: 20px;
        cursor: pointer;
    }
    .chevron{
        margin-right: 20px; 
        cursor: pointer;
    }
}

.collapse-description{
    background: #F7F7F7;
    padding: 30px 20px;
    height: auto;
    border-radius: 10px;
}
.show{
    display: block;
}
.hidden{
    display: none;
}


@media screen and (max-width: 320px) {
    .margin-collapse-fiche{
        width: 100%;
    }
}



