header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation{
        width: 150px;
        display: flex;
        justify-content: space-between;
        a{
            color: #FF6060;
        }
    }
}



