header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    .navigation{
        width: 250px;
        display: flex;
        justify-content: space-between;
        a{
            color: #FF6060;
        }
    }
}
@media screen and (max-width: 320px){
    header{
        width: 100vw;
        .navigation{
            width: 150px;
            a{
                font-size: 1rem;
            }
        }
        img {
            width: 125px;
            height: 48px;
        }
    }
}



