html{
    margin: 40px 100px 0 100px;
    body {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        h1{
            font-size: 3rem; 
            color: #FF6060;
            margin: 30px 0 0;
        }
        .main-contain{
            p{
                color: #FF6060;
            }
        }
        
        a{
            font-size: 1.5rem;
        }
        figcaption{
            font-size: 1.12rem;
        }
        ul li{
            list-style-type: none;
            color: #FF6060;
        }
    }
}