.slide{
    .remove-arrow{
        display: none;
    }
    position: relative;
    .image-apartment {
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }  
    .left{
        position: absolute;
        left: 20px;
        top: 160px;
        color: #fff;
        cursor: pointer;
    }
    .right{
        position: absolute;
        right: 20px;
        top: 160px;
        color: #fff;
        overflow: hidden;
        cursor: pointer;
    }
    .slide-number{
        font-weight: bolder;
        color: #FFF;
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 1.12rem;
    }
}

@media screen and (max-width:320px) {
.slide{
    .image-apartment {
        height: auto;
    }
    .right, .left{
        width: 20px;
        top: 90px;
    }
}
}